@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

/*--------------------------------------------------------------
 *  VARIABLES:
 *--------------------------------------------------------------*/

/*===================== Typography ===================*/
$font-sans-serif: "sen", sans-serif;
$font-family: $font-sans-serif;
$font-size: 1.2rem;
$font-weight: 400;
$line-height: 1.6;

/*====================== Colors ===================== */
$bg-color: lighten(#d0cece, 15%);
$brown-color: #2d2922;
$beige-color: #ecdbb6;
$blue-color: #4974a5;
$purple-color: #7a49a5;
$body-color: darker($brown-color, 5%);
$heading__color: $beige-color;
$bg-heading__color: $blue-color;

/*=================== Measurements ================== */
$max-width: 1024px;

/*--------------------------------------------------------------
 *  GLOBALS:
 *--------------------------------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    line-height: $line-height;
    background-color: $bg-color;
}

h1,
h2 {
    font-family: "Merienda", cursive;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    color: $brown-color;
    padding: 0;
    font-weight: 900;
}

h2 {
    font-weight: 300;
    font-size: 1.3em;
}

h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    color: $heading__color;
    // margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: $bg-heading__color;
}
p:last-child {
    margin-bottom: 3em;
}

ul li {
    list-style-type: none;
    font-size: 12px;
}

a {
    color: $purple-color;
    text-decoration: none;
}

a:hover,
a:focus {
    color: $blue-color;
}

div.main > div, section.intro, aside.sidebar {
    max-width: $max-width;
    margin: 0 auto;
}

div.page-wrapper {
    padding: 1rem;
}

.preamble > h3::after,
.preamble > h3::before,
.explanation > h3 + ::after,
.participation > h3 + ::after,
.benefits > h3 + ::after,
.requirements > h3 + ::after {
    content: "";
    display: block;
    background-size: cover;
}

.select,
.archives,
.resources {
    visibility: hidden;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.select:after,
.archives:after,
.resources:after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}

/*===================== Footer ========================*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $brown-color;
    padding: 20px;
    margin: 0 auto;
}

/*Icons used from Fonts Awesome */
a[class^="zen-"] {
    display: inline-block;
    text-indent: -9999px;
    width: 82px;
    height: 60px;
    background-size: 82px 60px;
    line-height: 1;
    font-size: 5px;
    transition: all 0.3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[class^="zen-"]:hover,
a[class^="zen-"]:active {
    filter: invert(33%) sepia(9%) saturate(5091%) hue-rotate(234deg) brightness(95%) contrast(84%);
}

/*===================== ASIDE ========================*/
.select:after {
    content: "Designs";
}

.archives:after {
    content: "Archives";
}

.resources:after {
    content: "Resources";
}

/*===================== IMAGES ========================*/

.main *::after {
    width: 50%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: center;
}

.preamble h3::before {
    width: 100%;
    padding-bottom: 50%;
    background-size: cover;
    background-position: top;
}

.preamble > h3::before {
    background-image: url(./img/rock.jpg);
}

.explanation > h3 + ::after {
    background-image: url(./img/explanation.jpg);
}

.participation > h3 + ::after {
    background-image: url(./img/participation.jpg);
}

.benefits > h3 + ::after {
    background-image: url(./img/benefits.jpg);
}

.requirements > h3 + ::after {
    background-image: url(./img/requirements.jpg);
}

.zen-validate-html {
    background-image: url(./img/html5.svg);
    grid-column: 2;
    justify-self: start;
}

.zen-validate-css {
    background-image: url("img/css3.svg");
    grid-column: 3;
    justify-self: center;
}

.zen-license {
    background-image: url("img/cc.svg");
    grid-column: 4;
    justify-self: center;
}

.zen-accessibility {
    background-image: url("img/wheelchair.svg");
    grid-column: 5;
    justify-self: center;
}

.zen-github {
    background-image: url("img/github.svg");
    grid-column: 6;
    justify-self: end;
}

.intro, .main > div {
    background-color: white;
}

/*--------------------------------------------------------------
 *  CSS Grid layout for modern browsers:
 *--------------------------------------------------------------*/
@media (min-width: $max-width) {
    /* Check for CSS Grid support: */
    @supports (grid-area: auto) {
        .page-wrapper {
            display: grid;
            grid-template-columns: auto repeat(5, min($max-width / 5, $max-width)) auto;

            grid-template-columns: repeat(5, auto);
       
        }

        .page-wrapper section.intro {
            grid-column: 3/7;
            // display: grid;
            grid-template-columns: subgrid;

        }

        section.intro header, section.intro div.summary {
            // grid-column: 2/7;
        }

        section.intro div.preamble {
            // grid-column: 3/5;
        }

        .page-wrapper div.main {
            grid-column: 2/7;
            grid-row: 2;
            display: grid;
            grid-template-columns: subgrid;
        }

        .page-wrapper aside.sidebar {
            grid-column: 6;
            grid-row: 2;
        }

        div.main > div {
            grid-column: 2/6;
        }

        div.main > footer {
            grid-column: 1/8;
            display: grid;
            grid-template-columns: subgrid;
            width: 100%;
            height: 150px;
        }
    }
}
