@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
/*--------------------------------------------------------------
 *  VARIABLES:
 *--------------------------------------------------------------*/
/*===================== Typography ===================*/
/*====================== Colors ===================== */
/*=================== Measurements ================== */
/*--------------------------------------------------------------
 *  GLOBALS:
 *--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  font-family: "sen", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: whitesmoke;
}

h1,
h2 {
  font-family: "Merienda", cursive;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  color: #2d2922;
  padding: 0;
  font-weight: 900;
}

h2 {
  font-weight: 300;
  font-size: 1.3em;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #ecdbb6;
  margin-bottom: 1rem;
  background-color: #4974a5;
}

p:last-child {
  margin-bottom: 3em;
}

ul li {
  list-style-type: none;
  font-size: 12px;
}

a {
  color: #7a49a5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4974a5;
}

div.main > div, section.intro, aside.sidebar {
  max-width: 1024px;
  margin: 0 auto;
}

div.page-wrapper {
  padding: 1rem;
}

.preamble > h3::after,
.preamble > h3::before,
.explanation > h3 + ::after,
.participation > h3 + ::after,
.benefits > h3 + ::after,
.requirements > h3 + ::after {
  content: "";
  display: block;
  background-size: cover;
}

.select,
.archives,
.resources {
  visibility: hidden;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.select:after,
.archives:after,
.resources:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}

/*===================== Footer ========================*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2d2922;
  padding: 20px;
  margin: 0 auto;
}

/*Icons used from Fonts Awesome */
a[class^="zen-"] {
  display: inline-block;
  text-indent: -9999px;
  width: 82px;
  height: 60px;
  background-size: 82px 60px;
  line-height: 1;
  font-size: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[class^="zen-"]:hover,
a[class^="zen-"]:active {
  -webkit-filter: invert(33%) sepia(9%) saturate(5091%) hue-rotate(234deg) brightness(95%) contrast(84%);
          filter: invert(33%) sepia(9%) saturate(5091%) hue-rotate(234deg) brightness(95%) contrast(84%);
}

/*===================== ASIDE ========================*/
.select:after {
  content: "Designs";
}

.archives:after {
  content: "Archives";
}

.resources:after {
  content: "Resources";
}

/*===================== IMAGES ========================*/
.main *::after {
  width: 50%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}

.preamble h3::before {
  width: 100%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: top;
}

.preamble > h3::before {
  background-image: url(./img/zen-garden3.jpg);
}

.explanation > h3 + ::after {
  background-image: url(./img/explanation.jpg);
}

.participation > h3 + ::after {
  background-image: url(./img/participation.jpg);
}

.benefits > h3 + ::after {
  background-image: url(./img/benefits.jpg);
}

.requirements > h3 + ::after {
  background-image: url(./img/requirements.jpg);
}

.zen-validate-html {
  background-image: url(./img/html5.svg);
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column-align: start;
      justify-self: start;
}

.zen-validate-css {
  background-image: url("img/css3.svg");
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

.zen-license {
  background-image: url("img/cc.svg");
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

.zen-accessibility {
  background-image: url("img/wheelchair.svg");
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-column-align: center;
      justify-self: center;
}

.zen-github {
  background-image: url("img/github.svg");
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-column-align: end;
      justify-self: end;
}

.intro, .main > div {
  background-color: white;
}

<<<<<<< HEAD
.main *::after {
  width: 50%;
  padding-bottom: 50%;
  background-size: cover;
  background-position: center;
}

/*--------------------------------------------------------------
 *  CSS Grid layout for modern browsers:
=======
/*--------------------------------------------------------------
 *  CSS Grid layout for modern browsers:
>>>>>>> 8b336a4333d234585212ef70c11478fb9748fd00
 *--------------------------------------------------------------*/
@media (min-width: 1024px) {
  /* Check for CSS Grid support: */
  @supports (grid-area: auto) {
    .page-wrapper {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto (204.8px)[5] auto;
          grid-template-columns: auto repeat(5, 204.8px) auto;
      -ms-grid-columns: (auto)[5];
          grid-template-columns: repeat(5, auto);
    }
    .page-wrapper section.intro {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1/7;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: subgrid;
          grid-template-columns: subgrid;
    }
    section.intro header, section.intro div.summary {
      -ms-grid-column: 3;
      -ms-grid-column-span: 3;
      grid-column: 3/6;
    }
    section.intro div.preamble {
      -ms-grid-column: 3;
      -ms-grid-column-span: 2;
      grid-column: 3/5;
    }
    .page-wrapper div.main {
      -ms-grid-column: 2;
      -ms-grid-column-span: 6;
      grid-column: 2/8;
      -ms-grid-row: 2;
      grid-row: 2;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: subgrid;
          grid-template-columns: subgrid;
    }
    .page-wrapper aside.sidebar {
      -ms-grid-column: 6;
      grid-column: 6;
      -ms-grid-row: 2;
      grid-row: 2;
    }
    div.main > div {
      -ms-grid-column: 2;
      -ms-grid-column-span: 4;
      grid-column: 2/6;
    }
    div.main > footer {
      -ms-grid-column: 1;
      -ms-grid-column-span: 7;
      grid-column: 1/8;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: subgrid;
          grid-template-columns: subgrid;
      width: 100%;
      height: 150px;
    }
  }
}
/*# sourceMappingURL=style.css.map */